@use "/src/utils/variables" as v;

button {

    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    padding: .75em 1.5em;
    border-radius: 9999px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.solid {
    color: v.$black;
    background-color: v.$gray;
}

.outline {
    color: v.$gray;
    background-color: transparent;
    border: 3px solid v.$gray;
}