$gray: #EFEFEF;
$pink: #F50CA0;
$cyan: #43DDE2;

.nav-item {
    font-size: 1.25rem;
    color: $gray;
    text-decoration: none;
}

.nav-item-selected {
    text-shadow: -1px 1px 0 $cyan, 1px -1px 0 $pink;
}