@use "/src/utils/variables" as v;

.nav-item {
    font-size: 1.25rem;
    color: v.$gray;
    text-decoration: none;
}

.nav-item-selected {
    text-shadow: -1px 1px 0 v.$cyan, 1px -1px 0 v.$pink;
}