@use "../../utils/variables" as v;

.projects {
    padding: 3em 1em;
    text-align: center;
}


.projects-grid-container {
    display: grid;
    width: 100%;
    margin: 1em 0;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2em;
    justify-items: center;
}

.svg-hover-effect {
    transition: all 200ms ease-in-out;
}

.svg-hover-effect:hover,
.svg-hover-effect:focus {
    transition: all 200ms ease-in-out;
    filter: drop-shadow(-3px 3px 0 v.$cyan) drop-shadow(3px -3px 0 v.$pink);
}