.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}

@media only screen and (min-width: 600px) {
  .container {
    width: 500px;
  }
}


@media only screen and (min-width: 768px) {
  .container {
    width: 600px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 768px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    width: 1200px;
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    width: 1440px;
  }
}