@use "/src/utils/variables" as v;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');


$font-family: 'Inter', sans-serif;

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: $font-family;
  color: v.$gray;
  background-color: v.$black;
}

.text-hover-effect:hover,
.text-hover-effect:focus {
  transition: text-shadow 150ms ease-in-out;
  text-shadow: -3px 3px 0 v.$cyan, 3px -3px 0 v.$pink;
}

.hover-effect:hover,
.text-hover-effect:focus {
  transition: box-shadow 150ms ease-in-out;
  box-shadow: -2px 2px 0 v.$cyan, 2px -2px 0 v.$pink;
}

.svg-hover-effect:hover,
.svg-hover-effect:focus {
  filter: drop-shadow(-3px 3px 0 v.$cyan) drop-shadow(3px -3px 0 v.$pink);
}

.text-lg {
  font-size: 3em;
  margin: 0;
}